/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}



/*Steve CSS*/
body {
    background: #EFEAEA;
}

#container-navbar {
    padding: 0;
}

#jumbotron-splash {
    background-image: url('../Images/food.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    margin-top: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 41px 2px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 41px 2px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 41px 2px rgba(0,0,0,0.39);
}

.image-special {
    margin-bottom: 15px;
}

#div-splash {
    margin-top: 125px;
    margin-left: 50px;
}

.btn-primary {
    background: #d04740;
    color: #fff;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #9d2c27;
    }

    .btn-primary:active, .btn-primary.active {
        background: #9d2c27;
        box-shadow: none;
    }

.navbar {
    background: #3b3947;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 41px 2px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 41px 2px rgba(0,0,0,0.39);
    box-shadow: 0px 0px 41px 2px rgba(0,0,0,0.39);
}

.navbar-default {
    border: none;
}

    .navbar-default .navbar-brand {
        color: #fff;
    }

        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
            color: #bb4545;
        }

    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #bb4545;
        }

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1199px) {

    #div-splash {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 0;
    }

    #jumbotron-splash {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/*END Steve CSS*/

/* Anthnoy Howard */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/******************/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 0px;
    }

    .body-content {
        padding: 0;
    }
}
